<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../includes/header.ejs')%>
    <!-- <script defer src="/public/js/closeModal.js"></script> -->
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <header class="container-fluid hero-area header-articles">
      <div class="overlay"></div>
      <h1><%= pageTitle %></h1>
    </header>
    <main class="register-user-main-content mt-5">
      <section class="container mt-3">
        <div class="row">
          <div class="col-12">
            <% if(typeof errorMessage != "undefined" && errorMessage) { %>
            <div class="errorMessage-info">
              <span><%= errorMessage %></span>
            </div>
            <% } %>
            <form action="/register" method="POST">
              <%- include('../includes/formRegisterUser.ejs') %>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
